DEBUG=True
SECRET_KEY='CHAVE SECRETA'
ALLOWED_HOSTS=127.0.0.1
DATABASE_URL=postgres://odxxgsboojblsl:899c00be4bd328201d4a4b453d3d33e2aa0d923e7ebed83bd3f00beac43ba8e4@ec2-3-232-218-
211.compute-1.amazonaws.com:5432/d39m77inaqh3c8
# Configurações do AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
INTERNAL_IPS=127.0.0.1
SENTRY_DNS=